@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.card-animation:hover{
    transform: scale(1.05);      /* Nesne üzerine gelince 1.5 kat büyüsün */
    transition-duration: 2s;   /* 1sn de gerçekleşsin */
    animation-iteration-count: infinite;
}